# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Compile directory
.moc
.obj
.ui

# Binary
Gomoku

# QtCreator file
Gomoku.pro
Gomoku.pro.user
